.swiper_container {
  height: 42rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 28rem;
  height: 42rem;
  position: relative;
}

@media (min-width: 350px) {
  .swiper_container {
    height: 27rem;
  }
  .swiper-slide {
    width: 18rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 29rem !important;
    height: 24rem !important;
  }
}

.swiper-slide img {
  width: 24rem;
  height: 24rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  position: relative;
  margin: auto !important;
  margin-top: -150px;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #db9200;
}
